@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root {
  --body-bg: hsl(0, 0%, 100%);
  --testimonial-comment-clr: hsl(300, 24%, 96%);
  --rating-bg: hsl(303, 10%, 53%);
  --testimonial-bg: hsl(300, 43%, 22%);
  --testimonial-desc-clr: hsl(333, 80%, 67%);
  --font-bold: 700;
  --font-med: 500;
  --font-def: 400;
}

* {
  box-sizing: border-box;
}

/* Remove default margin */
body {
  margin: 0;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  display: grid;
  place-content: center;
  font-family: 'League Spartan', sans-serif;
}

main {
  display: grid;
  gap: 3rem;
  margin: 3rem 4rem;
  grid-template-rows: 1fr 1.1fr;
}

.desc-section {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1.5fr 2fr;
  gap: 8rem;
}

.ratings-container {
  display: grid;
  gap: 1rem;

}

.desc {
  color: var(--rating-bg);
}

h1 {
  color: var(--testimonial-bg);
  font-weight: var(--font-bold);
  font-size: 2.8rem;
  line-height: 1;
  margin-block-end: 1rem;
}

.ratings {
  background-color: var(--testimonial-comment-clr);
  padding-block: 1rem;
  border-radius: 0.5rem;
  width: 80%;
  padding-inline: 1.5rem;
  color: var(--testimonial-bg);
  font-weight: var(--font-bold);
}

.ratings:nth-child(1) {
  place-self: start;
}

.ratings:nth-child(2) {
  place-self: center;
}

.ratings:nth-child(3) {
  place-self: end;
}

.ratings>*,
.ratings img {
  display: inline-block;
}

.ratings stars-image {
  margin-inline-end: 1.5rem;
}

.testimonials-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  font-weight: var(--font-med);
}

.testimonials {
  background-color: var(--testimonial-bg);
  color: var(--body-bg);
  padding: 1.5rem;
  border-radius: .5rem;
}

.comment {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.comment img {
  border-radius: 50%;
  width: 90%;
}

.comment-name {
  font-weight: var(--font-bold);
}

.comment-type {
  color: var(--testimonial-desc-clr);
  font-weight: var(--font-def);
}

.quote {
  margin-block-start: 1rem;
  font-weight: var(--font-med);
  font-size: .9rem;
}

.quote:before {
  content: open-quote;
  font-size: 1rem;
  padding-inline: 0.2rem;
}

.quote:after {
  content: close-quote;
  font-size: 1rem;
  padding-inline: 0.2rem;
}

.testimonials:nth-child(1) {
  place-self: start;
}

.testimonials:nth-child(2) {
  place-self: center;
}

.testimonials:nth-child(3) {
  place-self: end;
}

@media (max-width:750px) {

  main,
  .testimonials-container,
  .ratings-container {
    display: flex;
    flex-direction: column;
  }

  .desc-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .ratings {
    width: 100%;
    text-align: center;
  }

  .ratings stars-image {
    display: block;
    margin: 0;
  }
}